@use 'variables' as vars;

.card-course-item {
    margin-top: 12px;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 4px;
}

.action-select {
    margin: 0 16px;
    width: 180px;
}
